@model IEnumerable<CarServiceModel>
@{
    ViewBag.Title = "Approved";
}
<h2 class="text-center">@ViewBag.Title</h2>

<hr />
<h4>Cars to approve</h4>
@if (!Model.Any())
{
    <h2 class="text-center">You have no cars to approve!</h2>
}
<div class="row">
    @foreach (var car in Model)
    {
        @await Html.PartialAsync("~/Areas/Admin/Views/Shared/_ApproveCarPartial.cshtml", car)
    }
</div>